<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatchPlanner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PatchPlanner.Settings>
            <setting name="PatchCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxGenerationCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="KeepRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MajorMutationRate" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="AdaptiveMutation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Population" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="AnnotationCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAnnotationSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MinAnnotationSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinorMutationRate" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MajorMutationMagnitude" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MinorMutationMagnitude" serializeAs="String">
                <value>0.1</value>
            </setting>
        </PatchPlanner.Settings>
    </userSettings>
</configuration>