<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Intemedic.PatchPlanner.Tuner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Intemedic.PatchPlanner.Tuner.Settings>
            <setting name="AnnotationCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxAnnotationSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MinAnnotationSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AnnotationRandomSeed" serializeAs="String">
                <value>0</value>
            </setting>
        </Intemedic.PatchPlanner.Tuner.Settings>
    </userSettings>
</configuration>